<!DOCTYPE html>
<head>
  <title>Node: Workshop 2</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 2</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <ul>
          <% popularGirlNames.forEach((name, index) => { %>
            <li><%= `${index + 1}. ${name}` %></li>
          <% }); %>
        </ul>
      </div>
    </div>
    <nav>
      <a href="/">Homepage</a>
      <a href="/question4">Previous</a>
      <a href="/question6">Next</a>
    </nav>
  </div>
</body>
